
.blue{
  color: blue; 
  background-color: black;
  font-size: 40px;
}
.purple_1{
  color: purple;
  font-weight: bold;

}
.purple_2{
  color: purple;
  font-size: 10px;
}
.red{
  color:red;
  background-color: black;
  font-size: 10px;
}
